<!-- footer starts here ...-->
<footer class="footer">
	<div class="container">
		<div class="col-xs-8 center-block newletter">
			<h3>Subscribe to our newsletter</h3>
			
			<div class="newlettersub">
			<label data-error="Please enter your first email">
				<input type="text" placeholder="Enter your email address"/>
				<div class="newlettersub-btn button">Subscribe</div>
			</label>
			</div>  
		</div>
	</div>
	<div class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>About Us</h5>
					<ul>
						<li><a href="#" title="Our History">OUR HISTORY</a></li>
						<li><a href="#" title="Health Benifits">HEALTH BENEFITS</a></li>
						<li><a href="#" title="Your Suggestions">YOUR SUGGESTIONS</a></li>
					</ul>			
				</div>
				<div class="col-sm-3">
					<h5>Our Products</h5>
					<ul>
						<li><a href="#" title="Asafoetida">ASAFOETIDA</a></li>
						<li><a href="#" title="Masala Powder">MASALA POWDERS</a></li>
						<li><a href="#" title="Whole Spices">WHOLE SPICES</a></li>
					</ul>			
				</div>
				<div class="col-sm-3">
					<h5>My Account</h5>
					<ul>
						<li><a href="#" title="Sign In">SIGN IN</a></li>
						<li><a href="#" title="Sign Up">SIGN UP</a></li>
						<li><a href="#" title="Order Status">ORDER STATUS</a></li>
					</ul>			
				</div>
				<div class="col-sm-3">
					<h5>Help</h5>
					<ul>
						<li><a href="#" title="Faq's">FAQ'S</a></li>
						<li><a href="#" title="Contact Us">CONTACT US</a></li>
						<li><a href="#" title="Returns">RETURNS</a></li>
					</ul>			
				</div>
			</div>
		</div>
	</div>	
	<div class="container wow fadeInUp" data-wow-duration="1.6s">
		<div class="row copy-rights clearfix">
			<div class="col-sm-8 pull-right">
				<div class="terms fL">
					<ul>
						<li><a href="#">Terms and Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Cookie Policy</a></li>
						<li><a href="https://www.madebyfire.com/">Made by Fire</a></li>
					</ul>
				</div>
				<div class="social-media fR">
					<ul>
						<li><a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>							
					</ul>
				</div>
			</div>
			<div class="col-sm-4 no-padding">
				<p>&copy; 2017 SSPandian. <span>All rights reserved.</span>
			</div>			
		</div>
	</div>
</footer>
<!-- footer ends here... -->
<script src="../js/build/global.min.js"></script>