<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>SS Pandian</title>	
	<!-- Css includes -->
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../style.css" />
	<!-- GOOGLE fonts included included -->
	<link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700|Roboto+Slab:100,400" rel="stylesheet">
	<!-- modernizr included -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>