<!-- header starts here... -->
<header class="header wow fadeInDown" data-wow-duration="1.6s" data-wow-delay="1.6s">
	<div class="container-fluid">
		<a href="index.shtml" class="logo">
			<img src="../images/logo.png" alt="logo" width="148">
		</a>
		<!-- <div id="navTrigger"><span></span></div> -->
		<a href="#mobile_menu" class="hamburger clearfix" id="navmobile">
	        <span></span>
	        <span></span>
	        <span></span>
	        <span></span>
	      </a>
		<nav class="navbar row">
			<ul class="col-xs-6">
				<li class="has-sub-menu">
					<a href="#">Products</a>
					<div class="sub-menu">
						<ul>							
							<li>
								<a href="#">Asafoetida</a>
								<ul>
									<li>
										<a href="#" >Home Cooking</a>
										<ul>
											<li><a href="#">Item 1</a></li>
											<li><a href="#">Item 1</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Commercial Use</a>
										<ul>
											<li><a href="#">Item 1</a></li>
											<li><a href="#">Item 1</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Masala Powder</a>
							</li>
						</ul>
					</div>
				</li>				
				<li><a href="#" class="active">Recipes</a></li>
			</ul>
			<ul class="col-xs-6">
				<li><a href="../sspnode/about">About Us</a></li>
				<li><a href="../sspnode/contact">Contact</a></li>					
			</ul>
			<img src="../images/nav-close.png" alt="images" class="close-icon"/>
		</nav>
	</div>
	<ul class="cart-search">
		<li class="user_blk">
			<a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
			<div class="userbox">
		        <h6>YOUR ACCOUNT</h6>
		        <p>Access account and manage orders</p>
		        <a href="https://www.vogtstockholm.com/login/" class="button button-small">Login</a>
		        <a href="https://www.vogtstockholm.com/register/" class="button button-small">Register</a>
		      </div>
		</li>
		<li>
			<a href="#">
				<img src="../images/cart.png" alt="cart">
				<span>0</span> 
			</a>
		</li>
		<li><a href="#"><img src="../images/search.png" alt="search" id="search-icon"></a></li>
	</ul>
	<!-- mobile menu start -->
	<div id="mobile_menu">
        <ul>
          <li><a href="#">Products</a>
			<ul>
	            <li><a href="">Asafoetida</a>
					<ul>
						<li><a href="#">Home Cooking</a>
							<ul>
								<li><a href="#">Item 1</a></li>
								<li><a href="#">Item 1</a></li>
							</ul>
						</li>
						<li><a href="#">Commercial Use</a>
							<ul>
								<li><a href="#">Item 1</a></li>
								<li><a href="#">Item 1</a></li>
							</ul>
						</li>
					</ul>
	            </li>
	            <li><a href="">Masala Powder</a>
					<ul>
						<li><a href="#">Item 1</a></li>
						<li><a href="#">Item 1</a></li>
					</ul>
	            </li>
            </ul> 
          	</li>
          	<li><a href="#">Recipes</a></li>
           <li><a href="../about">About Us</a></li>
           <li><a href="#">Contact Us</a></li>    
            <li><a href="#">My Account</a>
				<ul>
					<li><a href="#">lOGIN</a></li>
					<li><a href="#">Register</a></li>
				</ul>
            </li>           
        </ul>
    </div>
	<!-- mobile menu end -->
</header>
<!-- header ends here.... -->

<!-- search product overlay start -->
<div id="search-overlay">
    <div class="close-trigger"><span></span><span></span></div>
	<div class="container">
	    <div class="middle-align">		        
        	<div class="search-wrap">
				<div class="search-block">
					<input type="text" id="search-tag" class="search-textbox" placeholder="Search...">
				</div>
			</div>
			<div id="search-result"> 
				<div class="search-boxscroll">
					<a href="#" class="search-link clearfix"> 
						<span>China PE start-ups from CTO face delays</span>
					</a> 
				</div>
			</div>
	    </div>
    </div>
</div>
<!-- search product overlay end -->