<% include ../partials/head %>
<body>
	<% include ../partials/header %>
			<!-- product-listing section starts here.... -->
		<div class="wrapper subpage about-us without-breadcrumb">
			<div class="inner-side-bg"></div>
			<div class="shadow-hook">
				<div class="bottom-shodow-hook"></div>
				<div class="center-shodow-hook">
				<!-- 	<div class="shippingfree">Free shipping to all countries</div> -->
					<div class="container">	
						<div class="white-container">
							<div class="aboutus-content">
								<h1>About us</h1>
								<p>Sri S. S. Pandian was born and raised in a respectable and honest business-class family in Kamuthi, a small town in South India. During his childhood, his father’s business slumped and, at the age of 16, the teenager left his home with an ambition to start a business of his own.</p>
								<a href="#" class="align-left"><img src="../images/founder-profile-1.jpg"></a>
								<p>He moved to Madras (Chennai) and Bombay (Mumbai). There, he gained a little knowledge about asafoetida, also known as hing, hingu or perungayam in India. In 1957, at the age of 27, S. S. Pandian moved once more, this time to Bangalore, Karnataka, with just Rs. 2 in his pocket and not even knowing the language he would be faced with in the garden city. This early and small beginning was inspired by his idea to create High Quality Compounded Asafoetida in the form of powder and paste that are easy to use. With hard work and sincerity, he made the humble asafoetida a branded and essential commodity.
								</p>
								<p>Today, we are the leading manufacturers of premium quality asafoetida and customers ask for SSP by name because of the strong reputation we have built.The popularity of our brand today is the best certificate we could get for consumer satisfaction.
	 							</p>
								<div class="row gallery-thumb">
									<div class="col-xs-3">
										<a class="fancybox-thumb" data-fancybox="gallery" data-caption="ssp-factory" rel="fancybox-thumb" href="../images/ssp-factory.jpg" title="Golden modernizranarola (Sanjeev Deo)">
											<img src="../images/ssp-factory.jpg" alt="" />
										</a>
									</div>
									<div class="col-xs-3">
										<a class="fancybox-thumb" data-fancybox="gallery" data-caption="Vehicle-ssp" rel="fancybox-thumb" href="../images/Vehicle-ssp.jpg">
										<img src="../images/Vehicle-ssp.jpg" alt="" />
									</a>
									</div>
									<div class="col-xs-3">
										<a class="fancybox-thumb" data-fancybox="gallery" data-caption="Factory-During-early-1970s" rel="fancybox-thumb" href="../images/Factory-During-early-1970s.jpg" title="Morning Twilight (Jose Hamra Images)">
										<img src="../images/Factory-During-early-1970s.jpg" alt="" />
									</a>
									</div>
									<div class="col-xs-3">
										<a class="fancybox-thumb" data-fancybox="gallery" data-caption="Factory-During-early-1970s" rel="fancy	box-thumb" href="../images/SSPandian-During-early-1970s.jpg" title="(Eric Goncalves (cathing up again!))">
										<img src="../images/SSPandian-During-early-1970s.jpg" alt="" />
									</a>
									</div>
									<!-- <a href=""><img src="./images/ssp-factory.jpg"></a>
									<a href=""><img src="./images/Vehicle-ssp.jpg"></a>
									<a href=""><img src="./images/Factory-During-early-1970s.jpg"></a>
									<a href=""><img src="./images/SSPandian-During-early-1970s.jpg"></a> -->
								</div>
							</div>
					    </div> 
					</div> 
				</div>
			</div>  	
		</div>
		<!-- product-listing section ends here.... -->	
	<% include ../partials/footer %>
</body>
</html>