<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	<div class="wrapper home">
	<div class="inner-side-bg"></div>
	<div class="shadow-hook">
		<div class="bottom-shodow-hook"></div>
		<div class="center-shodow-hook">
			<!-- hero-content section starts here... -->
			<section class="hero">
				<div class="hero-content container wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="2.5s">
					<div class="hero-content-bg center-block">
						<p>Binding flavours and families for</p>	
						<h2>60 Years</h2>	
						<a href="#" class="button hi">View Our Products</a>
					</div>
					<div class="hero-content-pd hero-content-pd-left">
						<img src="images/product-lhs.png" alt="" class="wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="2.5s">
					</div>
					<div class="hero-content-pd hero-content-pd-right">
						<img src="images/product-rhs.png" alt="" class="wow fadeInUp" data-wow-duration="2.5s" data-wow-delay="2.5s">
					</div>
				</div>
			</section>
			<!-- hero-content section ends here... -->
			<div class="home-products">
				<!-- Asafoetida section 1 starts here... -->
				<section class="component-content">
					<div class="container">
						<h1>Asafoetida</h1>
						<div class="flex-end">
							<div class="tile-bg flex-center wow fadeInUp wow fadeInUp" data-wow-duration="1s">
								<h3>Add a pinch of zhing to you cooking!</h3>
								<p>Sed ut <strong> <a href="">prespiciatis</a> </strong> unde omnis accusantium doloremque laudatium, totam rem aperiam, eaque ipsa</p>
								<p>Available in 5g 10 g 25g</p>
								<a href="#" class="button">Buy Asafoetida</a>
								<div class="bottom-shadow"></div>
							</div>
							<div class="tile-img">
								<img src="images/asafoetida.png" alt="" class="wow fadeInUp" data-wow-duration="1s"/>	
							</div>
						</div>
					</div>
				</section>
				<!-- Asafoetida section 1 ends here... -->
				<!-- Ground spices section 2 starts here... -->
				<section class="component-content">
					<div class="container">
						<h1>Ground Spices</h1>
						<div class="flex-end">
							<div class="tile-bg flex-center wow fadeInUp wow fadeInUp" data-wow-duration="1s">
								<h3>Authenetic Spices that brings magic to the table!</h3>
								<p>Sed ut <strong><a href="">prespiciatis</a></strong> unde omnis accusantium doloremque laudatium, totam rem aperiam, eaque ipsa</p>
								<p>Available in 5g 10 g 25g</p>
								<a href="#" class="button">Buy Masala Powder</a>
								<div class="bottom-shadow"></div>	
							</div>
							<div class="tile-img">
								<img src="images/masala.png" alt="" class="wow fadeInUp" data-wow-duration="1s"/>	
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- Ground spices section 2 starts here... -->
			<!-- Tile section starts here... -->
			<section class="component-content tile-section">
				<div class="container">	
					<div class="col-xs-7 center-block homemade-contents wow fadeInUp" data-wow-duration="1.3s">
						<h3>Home-made recipes</h3>
						<p>Are you a food lover? Have some amazing recipes to share that use asafoetida?
						Make your sambar world famous. Make your curries the talkof the town</p>
					</div>
					<div class="tile-items tile-slider wow fadeInUp" data-wow-duration="1.5s">
						<div class="tile-block">
							<a href="">
								<div class="tile-col tile-image">
									<img src="./images/recipe-4.png">
								</div>
								<div class="tile-col tile-content">
									<div class="tile-content-inner">
										<div class="star-rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h4>Rakhi Dhokla</h4>
										<em>from Abhinav</em> 
									</div>
								</div>
							</a>
						</div>
						<div class="tile-block">
							<a href="">
								<div class="tile-col tile-image">
									<img src="./images/recipe-1.png">
								</div>
								<div class="tile-col tile-content">
									<div class="tile-content-inner">
										<div class="star-rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h4>Rakhi Dhokla</h4>
										<em>from Abhinav</em> 
									</div>
								</div>
							</a>
						</div> 
						<div class="tile-block">
							<a href="">
								<div class="tile-col tile-image">
									<img src="./images/recipe-2.png">
								</div>
								<div class="tile-col tile-content">
									<div class="tile-content-inner">
										<div class="star-rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h4>Rakhi Dhokla</h4>
										<em>from Abhinav</em> 
									</div>
								</div>
							</a>
						</div> 
						<div class="tile-block">
							<a href="">
								<div class="tile-col tile-image">
									<img src="./images/recipe-3.png">
								</div>
								<div class="tile-col tile-content">
									<div class="tile-content-inner">
										<div class="star-rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h4>Rakhi Dhokla</h4>
										<em>from Abhinav</em> 
									</div>
								</div>
							</a>
						</div> 
						<div class="tile-block">
							<a href="">
								<div class="tile-col tile-image">
									<img src="./images/recipe-2.png">
								</div>
								<div class="tile-col tile-content">
									<div class="tile-content-inner">
										<div class="star-rating">
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</div>
										<h4>Khandvi - Gujarati Chickpea and Yoghurt Rolls</h4>
										<em>from Abhinav</em> 
									</div>
								</div>
							</a>
						</div> 
					</div>
					<div class="center-block">
						<a href="#" class="button">more recipe</a>
					</div>
				</div>
			</section>
			<!-- Tile section ends here.. -->
		</div>
	</div>
	</div>	
	<% include ../partials/footer %>
</body>
</html>